// font library for Vocomfest-Soon Web 2018
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Fira-Black';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FiraSans-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Fira-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FiraSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Fira-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fira-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FiraSans-Light.ttf') format('truetype');
}
// font-color
.bla {
  color: $black;
}
.gra {
  color: $gray;
}
.gre {
  color: $green;
}
.wh {
  color: $white;
}
.ye {
  color: $yellow;
}
// font-size
.smaller {
  font-size: 0.8em;
}
.normal {
  font-size: 1em;
}
.baby-big {
  font-size: 1.2em;
}
.big {
  font-size: 1.5em;
}
.more-big {
  font-size: 2.5em;
}
.bigger {
  font-size: 3em;
}
// font-style
.fr-lig {
  font-family: 'Fira-Light';
}
.fr-reg {
  font-family: 'Fira-Regular';
}
.fr-bold {
  font-family: 'Fira-Bold';
}
.fr-bla {
  font-family: 'Fira-black';
}
.mt-reg {
  font-family: 'Montserrat-Regular';
}
.mt-bold {
  font-family: 'Montserrat-Bold';
}
