// this is responsive style for vocom-soon 2018
@media screen and (max-width: 1024px) {
  .somewhat-bigger {
    font-size: 3.5em;
  }
  .mo-plane {
    left: -10%;
  }
  // ------------------------------ HERO SECTION
  #hero-section .content > img {
       width: 18%;
       padding-top: 10px;
     }
  // ------------------------------ wdc MADC
  #second-section .text {
    width: 40%;
    left:2%;
    top:15%;
    padding-left: 15px;
  }

  #third-section .text {
    width: 40%;
    right:5%;
    bottom:10%;
  }

  .boat {
    width: 8%;
    bottom: 12%;
  }

  @-webkit-keyframes move-right {
    0% {
      left: 30%; }
    50% {
      left: 40%; }
    100% {
      left: 30%; } }
  @keyframes move-right {
    0% {
      left: 30%; }
    50% {
      left: 40%; }
    100% {
      left: 30%; } }
  // ---------------------------- ICPC
  #icpc-logo {
    width: 20%;
    position: absolute;
    top: 10%;
    right: 50px;
  }
  #fourth-section {
    .text {
      bottom: 10%;
      width: 40%;
    }
  }
}

@media screen and (max-width: 990px) {
  // ---------------------------------- fifth-section
  .big-semnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 590px;
    margin: 0 auto;
  }
  .big-semnas h1{
    font-size: 4.8em;
    text-align: center !important;
    padding-left: 40px;
  }
  .three {
    position: relative;
    grid-column: 2/4;
  }
  .three img {
    width: 200px;
    position: absolute;
    left: 15%;
    top: 20%;
  }
  .four {
    grid-column: 1/5;
  }
  /*styling balon*/
  .balon{
    position: absolute;
    margin-top: 50;
    margin-left: 35px;
    width: 55px;
    height: 76px;
  }
}

@media screen and (max-width: 768px) {
  .baby-big {
    font-size: 1em;
  }
  .bigger {
    font-size: 2em;
  }
  .somewhat-bigger {
    font-size: 3.2em;
    // padding-top: 30px;
  }
  // ---------------------------- hero-section
  #hero-section .content .fle figure {
    width: 120px;
  }
  #hero-section .content > img {
     width: 30%;}
  // --------------------------- second-section
  #second-section .text {
    width: 50%;
    left:2%;
    top:15%;
    padding-left: 15px;
  }

  #wdc-logo{
    width: 23%;
    bottom: 13%;
    right: 5%;
  }

  .cloud-reg {
    width: 10%;
  }

  .cloud-sm{
    width: 6%;
  }
  @-webkit-keyframes left-right {
    0% {
      left: 85%; }
    50% {
      left: 75%; }
    100% {
      left: 85%; } }
  @keyframes left-right {
    0% {
      left: 85%; }
    50% {
      left: 75%; }
    100% {
      left: 85%; } }
  @-webkit-keyframes right-left {
    0% {
      left: 65%; }
    50% {
      left: 73%; }
    100% {
      left: 65%; } }
  @keyframes right-left {
    0% {
      left: 65%; }
    50% {
      left: 73%; }
    100% {
      left: 65%; } }
  /*
  ========third section========
  */
  #third-section .text {
    width: 50%;
    right:5%;
    bottom:10%;
  }
  #madc-logo{
    left: 5%;
    top: 15%;
    width: 17%;
  }

  .boat {
    width: 8%;
    bottom: 15%;
  }

  @-webkit-keyframes move-right {
    0% {
      left: 5%; }
    50% {
      left: 20%; }
    100% {
      left: 5%; } }
  @keyframes move-right {
    0% {
      left: 5%; }
    50% {
      left: 20%; }
    100% {
      left: 5%; } }
  // ---------------------------- fourth-section
  #fourth-section {
    h1 {
      font-size: 2.8em;
    }
  }
  #icpc-logo {
    width: 150px;
    position: absolute;
    transform: translateX(-50%);
    top: 10%;
    left: 50%;
  }
  // ----------------------------- fifth-section
  .big-semnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 485px;
    margin: 0 auto;
  }
  .big-semnas h1{
    font-size: 4em;
    text-align: center !important;
    padding-left: 20px;
  }
  .three {
    position: relative;
    grid-column: 2/4;
  }
  .three img {
    width: 180px;
    position: absolute;
    left: 10%;
    top: 16%;
  }
  .four {
    grid-column: 1/5;
  }
  /*styling balon*/
  .balon{
    position: absolute;
    margin-top: 50;
    margin-left: 35px;
    width: 55px;
    height: 76px;
  }
}

@media screen and (max-width: 480px) {
  .hidden-480 {
    display: none;
  }
  .baby-big {
    font-size: 0.8em;
  }
  .bigger {
    font-size: 1.5em;
  }
  .somewhat-bigger{
    font-size: 2em;
  }
  // ------------------ hero-section
  #hero-section .content .fle figure {
    width: 80px;
  }
  #hero-section {
    .content {
        padding: 0 30px;

        &>img {
          width: 40%;
        }
        p {
          text-align: center;
        }
    }

  }
  .mo-plane {
    left: -15%;
  }
  .go-to-right {
    -webkit-animation: goToRight 8s infinite linear;
    animation: goToRight 8s infinite linear;
    animation-delay: 0s;
  }
  @-webkit-keyframes goToRight {
  		from {
  				left: -15%;
  		}
  		to {
  				left: 100%;
  		}
  }
  // -------------------------------- /

  // ------------------------------- second-section


  #second-section, #third-section, #fourth-section, #fifth-section {
    .content {
      @include flexbox();
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .text,.four {
        order: 3;
        font-size: 0.8em;
        padding: 0 35px;
        position: initial;
        text-align: center;
        width: 100%;
      }

      h1 {
        order: 2;
        padding: 0 35px;
      }
      img,.three {
        order: 1;
        position: initial;
      }
    }
  }
  #wdc-logo{
    width: 40%;
    bottom: 13%;
    right: 5%;
  }
  .cloud-reg {
    width: 15%;
  }
  .cloud-sm{
    width: 8%;
  }
  @-webkit-keyframes left-right {
    0% {
      left: 85%; }
    50% {
      left: 75%; }
    100% {
      left: 85%; } }
  @keyframes left-right {
    0% {
      left: 85%; }
    50% {
      left: 75%; }
    100% {
      left: 85%; } }
  @-webkit-keyframes right-left {
    0% {
      left: 65%; }
    50% {
      left: 73%; }
    100% {
      left: 65%; } }
  @keyframes right-left {
    0% {
      left: 65%; }
    50% {
      left: 73%; }
    100% {
      left: 65%; } }
  /*
  ========third section========
  */

  #madc-logo{
    position: initial;
    width: 30%;
  }

  .boat {
    width: 10%;
    bottom: 11%;
  }

  @-webkit-keyframes move-right {
    0% {
      right: 10%; }
    50% {
      right: 30%; }
    100% {
      right: 10%; } }
  @keyframes move-right {
    0% {
      right: 10%; }
    50% {
      right: 30%; }
    100% {
      right: 10%; } }
  // ------------------------------- fourth-section
  #fourth-section,#fifth-section {
    h1 {
      font-size: 2em;
    }
  }
  #icpc-logo {
    width: 150px;
    position: initial;
    transform: none;
  }
  #fifth-section {
    .three {
      margin: 10px 0 20px;
    }
  }
  // ------------------------------- fifth-section
  .balon{
    position: absolute;
    margin-top: 50;
    margin-left: 10px;
    width: 40px;
    height: 56px;
  }

  // ------------------------------- last-section
  #sixth-section {
    .content {
      .fle-center {
        flex-direction: column;
      }
      .mg-l-40 {
        margin: 20px 0 0 0;
      }
    }
  }
}
