/*
	Project Name : Vocomfest 2018 - Coming Soon
	Author : Vocomfest 2018 Technical Support
	Date Created : 4 January 2018 05:14:00
	Copyright : 2018 (c) All Rights Reserved

	For Vocomfest 2018 only. Not for shared or published by others.
*/

// ---------------------- color pallete
 $black : #000;
 $blue :  #91c8ee;
 $gray : #95a5a6;
 $green : #acca48;
 $light-green : #a1ceb7;
 $light-yellow : #f3cb5a;
 $red : #f09292;
 $white : #fff;
 $yellow : #f0be07;

// ---------------------- mixin
@mixin flexbox() {
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
}
@mixin transition($time){
	transition: all $time*1s ease-in-out ;
	-webkit-transition: all $time*1s ease-in-out ;
	-moz-transition: all $time*1s ease-in-out ;
	-o-transition: all $time*1s ease-in-out ;
}
// ---------------------- import
@import '_font';

 // --------------------- margin & padding
@for $i from 1 through 10{
	.mg-#{$i*5}{
		margin : $i*5px ;
	}
	.mg-bt-#{$i*5}{
		margin-top : $i*5px ;
		margin-bottom : $i*5px ;
	}
	.mg-lr-#{$i*5}{
		margin-left : $i*5px ;
		margin-right : $i*5px ;
	}
	.mg-t-#{$i*5}{
		margin-top : $i*5px ;
	}
	.mg-b-#{$i*5}{
		margin-bottom : $i*5px ;
	}
	.mg-l-#{$i*5}{
		margin-left : $i*5px ;
	}
	.mg-r-#{$i*5}{
		margin-right : $i*5px ;
	}
}

@for $i from 1 through 10{
	.pd-#{$i*5}{
		padding : $i*5px ;
	}
	.pd-bt-#{$i*5}{
		padding-top : $i*5px ;
		padding-bottom : $i*5px ;
	}
	.pd-lr-#{$i*5}{
		padding-left : $i*5px ;
		padding-right : $i*5px ;
	}
	.pd-t-#{$i*5}{
		padding-top : $i*5px ;
	}
	.pd-b-#{$i*5}{
		padding-bottom : $i*5px ;
	}
	.pd-l-#{$i*5}{
		padding-left : $i*5px ;
	}
	.pd-r-#{$i*5}{
		padding-right : $i*5px ;
	}
}
// ---------------------------------------- common style
body {
  box-sizing: border-box;
  font-family: 'Fira-Regular';
  font-size: 16px;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}

// -------------------------------------- custom style
.fle {
  @include flexbox();
}
.fle-end {
  align-items: flex-end;
}
.fle-center {
  align-items: center;
  justify-content: center;
}
// -------------------------------------- pages style
header {
  padding: 30px;
  position: fixed;
  top: 0;
  z-index: 30;

  img {
    margin-right: 10px;
    width: 30px;
  }

  span {
    font-family: 'Montserrat-Bold';
    font-size: 1.2em;
  }
}

footer {
  @include flexbox();
  bottom: 0;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  width: 100vw;

  span {
    font-family: 'Fira-Bold';
  }

  .fle-end {
    display: flex;
  }

  ul {
    @include flexbox();
    margin: 0;
    padding-left: 5px;

    li {
      padding: 0 5px;

      a {
        @include transition(0.3);
        color: $gray;
      }
    }
  }
}
// ---------------------- reset style
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  height: 6px;
  width: 6px;
  margin: -3px 0 0 -3px
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  &:before {
    background: none;
    border: 1px solid $black;
    content: '';
    height: 18px;
    left: -3px;
    opacity: 0.5;
    position: absolute;
    border-radius: 100%;
    top: -3px;
    // transform: translate(-50%,-50%);
    width: 18px;
  }
}
#hero-section,#second-section,#third-section,#fourth-section,#fifth-section,#sixth-section {
  height: 100vh;

  h1.back-h1 {
    font-family: 'Fira-Bold';
    font-size: 14em;
    left: 50%;
    margin: 0 0 0 30%;
    opacity: 0.05;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
  }
}
#second-section {
  background-color: $blue;
}
#third-section {
  background-color: $light-yellow;
}
#fourth-section {
  background-color: $light-green;
}
#fifth-section {
  background-color: $gray;
}
a>.fa-facebook-square:hover {
  @include transition(0.3);
  color: #3b5999;
}
a>.fa-instagram:hover {
  @include transition(0.3);
  color: #fb3958;
}
a>.fa-twitter:hover {
  @include transition(0.3);
  color: #2ac6f7;
}
// ===== hero section

#hero-section {
  background-image: url('../img/borobudur.png');
  background-position: bottom left;
  background-repeat: no-repeat;

  .content {
    @include flexbox();
    align-items: center;
    flex-direction: column;

    &>img {
      width: 15%;
    }

    .fle {
      align-items: flex-end;

      figure {
        position: relative;
        width: 200px;

        .abs {
          position: absolute;
          top: 0;
          left: 0;
        }

        img {
          width: 100%;
        }
      }

      h1 {
        margin-left: -65px;
        z-index: 10;
      }
    }
  }
}
.mo-plane {
  position: absolute;
  top: 25%;
  left: -5%;
  width: 60px;
  z-index: 20;
}
// =============== sixth-section
#sixth-section {
  img {
    width: 100px;
  }
}
// animation
@import "_keyframes";
