/*
	Project Name : Vocomfest 2018 - Coming Soon
	Author : Vocomfest 2018 Technical Support
	Date Created : 4 January 2018 05:14:00
	Copyright : 2018 (c) All Rights Reserved

	For Vocomfest 2018 only. Not for shared or published by others.
*/

// ---------------------- color pallete
 $black : #000;
 $blue :  #91c8ee;
 $gray : #95a5a6;
 $green : #acca48;
 $somewhat-light-gray : #f9f9f9;
 $light-gray: #d8dcdc;
 $light-green : #a1ceb7;
 $light-yellow : #f3cb5a;
 $purple : #a77dc2;
 $red : #f09292;
 $white : #fff;
 $yellow : #f0be07;

// ---------------------- mixin
@mixin flexbox() {
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
}
@mixin transition($time){
	transition: all $time*1s ease-in-out ;
	-webkit-transition: all $time*1s ease-in-out ;
	-moz-transition: all $time*1s ease-in-out ;
	-o-transition: all $time*1s ease-in-out ;
}
// ---------------------- import
@import '_font';

 // --------------------- margin & padding
@for $i from 1 through 10{
	.mg-#{$i*5}{
		margin : $i*5px ;
	}
	.mg-bt-#{$i*5}{
		margin-top : $i*5px ;
		margin-bottom : $i*5px ;
	}
	.mg-lr-#{$i*5}{
		margin-left : $i*5px ;
		margin-right : $i*5px ;
	}
	.mg-t-#{$i*5}{
		margin-top : $i*5px ;
	}
	.mg-b-#{$i*5}{
		margin-bottom : $i*5px ;
	}
	.mg-l-#{$i*5}{
		margin-left : $i*5px ;
	}
	.mg-r-#{$i*5}{
		margin-right : $i*5px ;
	}
}

@for $i from 1 through 10{
	.pd-#{$i*5}{
		padding : $i*5px ;
	}
	.pd-bt-#{$i*5}{
		padding-top : $i*5px ;
		padding-bottom : $i*5px ;
	}
	.pd-lr-#{$i*5}{
		padding-left : $i*5px ;
		padding-right : $i*5px ;
	}
	.pd-t-#{$i*5}{
		padding-top : $i*5px ;
	}
	.pd-b-#{$i*5}{
		padding-bottom : $i*5px ;
	}
	.pd-l-#{$i*5}{
		padding-left : $i*5px ;
	}
	.pd-r-#{$i*5}{
		padding-right : $i*5px ;
	}
}
// ---------------------------------------- common style
body {
  box-sizing: border-box;
  font-family: 'Fira-Regular';
  font-size: 16px;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}

// -------------------------------------- custom style
.fle {
  @include flexbox();
}
.fle-end {
  align-items: flex-end;
}
.fle-center {
  align-items: center;
  justify-content: center;
}
// -------------------------------------- pages style
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/preload.gif) center no-repeat #fff;
}
header {
  padding: 30px;
  position: fixed;
  top: 0;
  z-index: 30;

  img {
    margin-right: 10px;
    width: 30px;
  }

  span {
    font-family: 'Montserrat-Bold';
    font-size: 1.2em;
  }
}

footer {
  @include flexbox();
  align-items: center;
  bottom: 0;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  width: 100vw;

  span {
    font-family: 'Fira-Bold';
  }

  .fle-end {
    align-items: center;
    display: flex;
  }

  ul {
    @include flexbox();
    margin: 0;
    padding-left: 5px;

    li {
      padding: 0 5px;

      a {
        @include transition(0.3);
        color: $light-gray;
      }
    }
  }
}
// ---------------------- reset style
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  height: 6px;
  width: 6px;
  margin: -3px 0 0 -3px
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  &:before {
    background: none;
    border: 1px solid $black;
    content: '';
    height: 18px;
    left: -3px;
    opacity: 0.5;
    position: absolute;
    border-radius: 100%;
    top: -3px;
    // transform: translate(-50%,-50%);
    width: 18px;
  }
}
#hero-section,#second-section,#third-section,#fourth-section,#fifth-section,#sixth-section {
  height: 100vh;

  h1.top {
    line-height: 0.9em;
  }
}
#hero-section {
  background-color: $light-yellow;
}
#second-section {
  background-color: $blue;
}
#third-section {
  background-color: $purple;
}
#fourth-section {
  background-color: $light-green;
}
#fifth-section {
  background-color: $somewhat-light-gray;
}
a>.fa-facebook-square:hover {
  @include transition(0.3);
  color: #3b5999;
}
a>.fa-instagram:hover {
  @include transition(0.3);
  color: #fb3958;
}
a>.fa-twitter:hover {
  @include transition(0.3);
  color: #2ac6f7;
}
// ===== hero section

#hero-section {
  background-image: url('../img/travel.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;

  .content {
    @include flexbox();
    align-items: center;
    flex-direction: column;

    &>img {
      width: 15%;
    }

    .fle {
      align-items: flex-end;

      figure {
        position: relative;
        width: 200px;

        .abs {
          position: absolute;
          top: 0;
          left: 0;
        }

        img {
          width: 100%;
        }
      }

      h1 {
        margin-left: -65px;
        z-index: 10;
      }
    }
  }
}
.mo-plane {
  position: absolute;
  top: 25%;
  left: -5%;
  width: 60px;
  z-index: 20;
}
// =============== second-section
#second-section {
  .text {
    padding-left: 30px;
    width:35%;
    position: absolute;
    top: 20%;
    left: 50px;
    margin: 0;
    z-index: 2;
  }
}
.cloud-reg{
  width: 6%;
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 1;
}
.cloud-sm {
  width: 4%;
  position: absolute;
  top: 8%;
  left: 25%;
  z-index: 0;
}
#wdc-logo {
  width: 20%;
  position: absolute;
  bottom: 20%;
  right: 70px;
  z-index: 0;
}
// =============== third-section
#third-section .text {
  padding-right: 30px;
  text-align: right;
  width:35%;
  position: absolute;
  bottom: 20%;
  right: 40px;
  margin: 0;
  z-index: 2;
}
#madc-logo {
  width: 15%;
  position: absolute;
  top: 20%;
  left: 80px;
  z-index: 0;
}
.boat{
  width: 7%;
  position: absolute;
  bottom: 30px;
  right: 30%;
}
// =============== fourth-section
#fourth-section .text {
  padding-left: 30px;
  width:35%;
  position: absolute;
  bottom: 15%;
  left: 50px;
}
#icpc-logo {
    width: 20%;
    position: absolute;
    top: 20%;
    right: 70px;
}
// =============== fifth-section
.sun {
	width: 250px;
  	position: absolute;
  	top: 80px;
  	left: 30px;
}
.sun-reg{
  width: 106px;
  position: absolute;
  top: 12%;
  left: 20%;
  z-index: 1;
  -webkit-animation: sun 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: sun 5s linear 2s infinite alternate;
}

.big-semnas {
	display: grid;
	grid-template-columns: 4fr 3fr;
	grid-template-rows: 200px;
	max-width: 855px;
	margin: 0 auto;
}
.three {
	position: relative;
	grid-column: 2/3;
	grid-row: 1/2;
}
.three img {
	width: 50%;
	position: absolute;
	left: 50px;
	top: 60px;
}
.four {
	grid-column: 1/5;
}
/*styling balon*/
.balon{
	position: absolute;
	margin-top: 50;
	margin-left: 100px;
	width: 75px;
	height: 106px;
	-webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst 5s linear 2s infinite alternate;
}
// =============== sixth-section
#sixth-section {
  img {
    width: 100px;
  }
}
// animation
@import "_keyframes";
// responsive style
@import "_reponsive";
