.more-bigger {
  font-size: 5.5em;
}
#second-section h1.back-h1 {
  font-family: 'Fira-Bold';
  font-size: 14em;
  left: 85%;
  margin: 0 0 0 30%;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  text-overflow: clip;
  white-space: nowrap;
}
#second-section .text {
  padding-left: 30px;
  width:300px;
  position: absolute;
  top: 100px;
  left: 0;
  margin: 0;
  z-index: 2;
}
.cloud-reg{
  width: 96px;
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 1;
}
.cloud-sm {
  width: 60px;
  position: absolute;
  top: 7%;
  left: 25%;
  z-index: 0;
}
.move-infinite {
  -webkit-animation: left-right 4.5s infinite ease-in-out;
          animation: left-right 4.5s infinite ease-in-out;
}

@-webkit-keyframes left-right {
  0%    {left: 30%;}
  50%   {left: 25%;}
  100%  {left: 30%;}
}

@keyframes left-right {
  0%    {left: 30%;}
  50%   {left: 25%;}
  100%  {left: 30%;}
}
.move-sm-infinite {
  -webkit-animation: right-left 4.5s infinite ease-in-out;
          animation: right-left 4.5s infinite ease-in-out;
}

@-webkit-keyframes right-left {
  0%    {left: 20%;}
  50%   {left: 25%;}
  100%  {left: 20%;}
}

@keyframes right-left {
  0%    {left: 20%;}
  50%   {left: 25%;}
  100%  {left: 20%;}
}

#wdc-logo {
  width: 250px;
  position: absolute;
  bottom: 60px;
  right: 50px;
}
