.sun {
	width: 250px;
  	position: absolute;
  	top: 80px;
  	left: 30px;
}
.sun-reg{
  width: 106px;
  position: absolute;
  top: 12%;
  left: 20%;
  z-index: 1;
  -webkit-animation: sun 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: sun 5s linear 2s infinite alternate;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes sun {
    0%   {left:50px;}
    25%  {left:150px;}
    50%  {left:200px;}
    75%  {left:250px;}
    100% {left:300px;}
}

/* Standard syntax */
@keyframes sun {
    0%   {left:50px;}
    25%  {left:150px;}
    50%  {left:200px;}
    75%  {left:250px;}
    100% {left:300px;}
}

.big-semnas {
	display: grid;
	grid-template-columns: 4fr 3fr;
	grid-template-rows: 200px;
	max-width: 655px;
	margin: 0 auto;
}
.three {
	position: relative;
	grid-column: 2/3;
	grid-row: 1/2;
}
.three img {
	width: 200px;
  position: absolute;
  left: 30px;
  top: 40px;
}
.four {
	grid-column: 1/5;
}
/*styling balon*/
.balon{
	position: absolute;
	margin-top: 50;
	margin-left: 100px;
	width: 65px;
  height: 88px;
	-webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst 5s linear 2s infinite alternate;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
    0%   {top:200px;}
    25%  {top:250px;}
    50%  {top:300px;}
    75%  {top:350px;}
    100% {top:380px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {top:200px;}
    25%  {top:250px;}
    50%  {top:300px;}
    75%  {top:350px;}
    100% {top:380px;}
}