/* CSS Layouting ICPC*/
.big-icpc {
	display: grid;
	grid-template-columns: 1fr 2fr 1.5fr;
	grid-template-rows: 450px;
	max-width: 1125px;
	margin: 0 auto;
}
.big-icpc div{
	background-color: #3bbced;
	padding: 25px;
}
.big-icpc div:nth-child(even){
	background-color: #777;
}
.big-icpc div h1{
	padding-top: 50px;
}

/* CSS Layouting semnas*/
.big-semnas {
	display: grid;
	grid-template-columns: 4fr 3fr;
	grid-template-rows: 330px;
	max-width: 855px;
	margin: 0 auto;
}
.big-semnas div{
	background-color: #3bbced;
}
.big-semnas div:nth-child(even){
	background-color: #777;
}
.three {
	position: relative;
	grid-column: 2/3;
	grid-row: 1/2;
}
.three img {
	width: 256px;
	height: 200px;
	position: absolute;
	left: 50px;
	top: 60px;
}
.four {
	grid-column: 1/5;
}
