/*
	Project Name : Vocomfest 2018 - Coming Soon
	Author : Vocomfest 2018 Technical Support
	Date Created : 4 January 2018 05:14:00
	Copyright : 2018 (c) All Rights Reserved

	For Vocomfest 2018 only. Not for shared or published by others.
*/
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira-Black';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira-Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans-Light.ttf") format("truetype"); }
.bla {
  color: #000; }

.gra {
  color: #95a5a6; }

.gre {
  color: #acca48; }

.wh {
  color: #fff; }

.ye {
  color: #f0be07; }

.smaller {
  font-size: 0.8em; }

.normal {
  font-size: 1em; }

.baby-big {
  font-size: 1.2em;
  max-width: 700px;
  text-align: center; }

.big {
  font-size: 1.5em; }

.more-big {
  font-size: 2.5em; }

.bigger {
  font-size: 3em; }

.somewhat-bigger {
  font-size: 4.5em; }

.fr-lig {
  font-family: 'Fira-Light'; }

.fr-reg {
  font-family: 'Fira-Regular'; }

.fr-bold {
  font-family: 'Fira-Bold'; }

.fr-bla {
  font-family: 'Fira-black'; }

.mt-reg {
  font-family: 'Montserrat-Regular'; }

.mt-bold {
  font-family: 'Montserrat-Bold'; }

.mg-5 {
  margin: 5px; }

.mg-bt-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mg-lr-5 {
  margin-left: 5px;
  margin-right: 5px; }

.mg-t-5 {
  margin-top: 5px; }

.mg-b-5 {
  margin-bottom: 5px; }

.mg-l-5 {
  margin-left: 5px; }

.mg-r-5 {
  margin-right: 5px; }

.mg-10 {
  margin: 10px; }

.mg-bt-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mg-lr-10 {
  margin-left: 10px;
  margin-right: 10px; }

.mg-t-10 {
  margin-top: 10px; }

.mg-b-10 {
  margin-bottom: 10px; }

.mg-l-10 {
  margin-left: 10px; }

.mg-r-10 {
  margin-right: 10px; }

.mg-15 {
  margin: 15px; }

.mg-bt-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mg-lr-15 {
  margin-left: 15px;
  margin-right: 15px; }

.mg-t-15 {
  margin-top: 15px; }

.mg-b-15 {
  margin-bottom: 15px; }

.mg-l-15 {
  margin-left: 15px; }

.mg-r-15 {
  margin-right: 15px; }

.mg-20 {
  margin: 20px; }

.mg-bt-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mg-lr-20 {
  margin-left: 20px;
  margin-right: 20px; }

.mg-t-20 {
  margin-top: 20px; }

.mg-b-20 {
  margin-bottom: 20px; }

.mg-l-20 {
  margin-left: 20px; }

.mg-r-20 {
  margin-right: 20px; }

.mg-25 {
  margin: 25px; }

.mg-bt-25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.mg-lr-25 {
  margin-left: 25px;
  margin-right: 25px; }

.mg-t-25 {
  margin-top: 25px; }

.mg-b-25 {
  margin-bottom: 25px; }

.mg-l-25 {
  margin-left: 25px; }

.mg-r-25 {
  margin-right: 25px; }

.mg-30 {
  margin: 30px; }

.mg-bt-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mg-lr-30 {
  margin-left: 30px;
  margin-right: 30px; }

.mg-t-30 {
  margin-top: 30px; }

.mg-b-30 {
  margin-bottom: 30px; }

.mg-l-30 {
  margin-left: 30px; }

.mg-r-30 {
  margin-right: 30px; }

.mg-35 {
  margin: 35px; }

.mg-bt-35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.mg-lr-35 {
  margin-left: 35px;
  margin-right: 35px; }

.mg-t-35 {
  margin-top: 35px; }

.mg-b-35 {
  margin-bottom: 35px; }

.mg-l-35 {
  margin-left: 35px; }

.mg-r-35 {
  margin-right: 35px; }

.mg-40 {
  margin: 40px; }

.mg-bt-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mg-lr-40 {
  margin-left: 40px;
  margin-right: 40px; }

.mg-t-40 {
  margin-top: 40px; }

.mg-b-40 {
  margin-bottom: 40px; }

.mg-l-40 {
  margin-left: 40px; }

.mg-r-40 {
  margin-right: 40px; }

.mg-45 {
  margin: 45px; }

.mg-bt-45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.mg-lr-45 {
  margin-left: 45px;
  margin-right: 45px; }

.mg-t-45 {
  margin-top: 45px; }

.mg-b-45 {
  margin-bottom: 45px; }

.mg-l-45 {
  margin-left: 45px; }

.mg-r-45 {
  margin-right: 45px; }

.mg-50 {
  margin: 50px; }

.mg-bt-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.mg-lr-50 {
  margin-left: 50px;
  margin-right: 50px; }

.mg-t-50 {
  margin-top: 50px; }

.mg-b-50 {
  margin-bottom: 50px; }

.mg-l-50 {
  margin-left: 50px; }

.mg-r-50 {
  margin-right: 50px; }

.pd-5 {
  padding: 5px; }

.pd-bt-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pd-lr-5 {
  padding-left: 5px;
  padding-right: 5px; }

.pd-t-5 {
  padding-top: 5px; }

.pd-b-5 {
  padding-bottom: 5px; }

.pd-l-5 {
  padding-left: 5px; }

.pd-r-5 {
  padding-right: 5px; }

.pd-10 {
  padding: 10px; }

.pd-bt-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pd-lr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.pd-t-10 {
  padding-top: 10px; }

.pd-b-10 {
  padding-bottom: 10px; }

.pd-l-10 {
  padding-left: 10px; }

.pd-r-10 {
  padding-right: 10px; }

.pd-15 {
  padding: 15px; }

.pd-bt-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pd-lr-15 {
  padding-left: 15px;
  padding-right: 15px; }

.pd-t-15 {
  padding-top: 15px; }

.pd-b-15 {
  padding-bottom: 15px; }

.pd-l-15 {
  padding-left: 15px; }

.pd-r-15 {
  padding-right: 15px; }

.pd-20 {
  padding: 20px; }

.pd-bt-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pd-lr-20 {
  padding-left: 20px;
  padding-right: 20px; }

.pd-t-20 {
  padding-top: 20px; }

.pd-b-20 {
  padding-bottom: 20px; }

.pd-l-20 {
  padding-left: 20px; }

.pd-r-20 {
  padding-right: 20px; }

.pd-25 {
  padding: 25px; }

.pd-bt-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.pd-lr-25 {
  padding-left: 25px;
  padding-right: 25px; }

.pd-t-25 {
  padding-top: 25px; }

.pd-b-25 {
  padding-bottom: 25px; }

.pd-l-25 {
  padding-left: 25px; }

.pd-r-25 {
  padding-right: 25px; }

.pd-30 {
  padding: 30px; }

.pd-bt-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pd-lr-30 {
  padding-left: 30px;
  padding-right: 30px; }

.pd-t-30 {
  padding-top: 30px; }

.pd-b-30 {
  padding-bottom: 30px; }

.pd-l-30 {
  padding-left: 30px; }

.pd-r-30 {
  padding-right: 30px; }

.pd-35 {
  padding: 35px; }

.pd-bt-35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.pd-lr-35 {
  padding-left: 35px;
  padding-right: 35px; }

.pd-t-35 {
  padding-top: 35px; }

.pd-b-35 {
  padding-bottom: 35px; }

.pd-l-35 {
  padding-left: 35px; }

.pd-r-35 {
  padding-right: 35px; }

.pd-40 {
  padding: 40px; }

.pd-bt-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.pd-lr-40 {
  padding-left: 40px;
  padding-right: 40px; }

.pd-t-40 {
  padding-top: 40px; }

.pd-b-40 {
  padding-bottom: 40px; }

.pd-l-40 {
  padding-left: 40px; }

.pd-r-40 {
  padding-right: 40px; }

.pd-45 {
  padding: 45px; }

.pd-bt-45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.pd-lr-45 {
  padding-left: 45px;
  padding-right: 45px; }

.pd-t-45 {
  padding-top: 45px; }

.pd-b-45 {
  padding-bottom: 45px; }

.pd-l-45 {
  padding-left: 45px; }

.pd-r-45 {
  padding-right: 45px; }

.pd-50 {
  padding: 50px; }

.pd-bt-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.pd-lr-50 {
  padding-left: 50px;
  padding-right: 50px; }

.pd-t-50 {
  padding-top: 50px; }

.pd-b-50 {
  padding-bottom: 50px; }

.pd-l-50 {
  padding-left: 50px; }

.pd-r-50 {
  padding-right: 50px; }

body {
  box-sizing: border-box;
  font-family: 'Fira-Regular';
  font-size: 16px;
  margin: 0;
  padding: 0; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

.fle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.fle-end {
  align-items: flex-end; }

.fle-center {
  align-items: center;
  justify-content: center; }

.no-js #loader {
  display: none; }

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/preload.gif) center no-repeat #fff; }

header {
  padding: 30px;
  position: fixed;
  top: 0;
  z-index: 30; }
  header img {
    margin-right: 10px;
    width: 30px; }
  header span {
    font-family: 'Montserrat-Bold';
    font-size: 1.2em; }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  bottom: 0;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  width: 100vw; }
  footer span {
    font-family: 'Fira-Bold'; }
  footer .fle-end {
    align-items: center;
    display: flex; }
  footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding-left: 5px; }
    footer ul li {
      padding: 0 5px; }
      footer ul li a {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: #d8dcdc; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  height: 6px;
  width: 6px;
  margin: -3px 0 0 -3px; }

#fp-nav ul li a.active span:before, #fp-nav ul li:hover a.active span:before, .fp-slidesNav ul li a.active span:before, .fp-slidesNav ul li:hover a.active span:before {
  background: none;
  border: 1px solid #000;
  content: '';
  height: 18px;
  left: -3px;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
  top: -3px;
  width: 18px; }

#hero-section, #second-section, #third-section, #fourth-section, #fifth-section, #sixth-section {
  height: 100vh; }
  #hero-section h1.top, #second-section h1.top, #third-section h1.top, #fourth-section h1.top, #fifth-section h1.top, #sixth-section h1.top {
    line-height: 0.9em; }

#hero-section {
  background-color: #f3cb5a; }

#second-section {
  background-color: #91c8ee; }

#third-section {
  background-color: #a77dc2; }

#fourth-section {
  background-color: #a1ceb7; }

#fifth-section {
  background-color: #f9f9f9; }

a > .fa-facebook-square:hover {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  color: #3b5999; }

a > .fa-instagram:hover {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  color: #fb3958; }

a > .fa-twitter:hover {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  color: #2ac6f7; }

#hero-section {
  background-image: url("../img/travel.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain; }
  #hero-section .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: column; }
    #hero-section .content > img {
      width: 15%; }
    #hero-section .content .fle {
      align-items: flex-end; }
      #hero-section .content .fle figure {
        position: relative;
        width: 200px; }
        #hero-section .content .fle figure .abs {
          position: absolute;
          top: 0;
          left: 0; }
        #hero-section .content .fle figure img {
          width: 100%; }
      #hero-section .content .fle p {
        max-width: 700px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px; }
      #hero-section .content .fle h1 {
        margin-left: -65px;
        z-index: 10; }

.mo-plane {
  position: absolute;
  top: 25%;
  left: -5%;
  width: 60px;
  z-index: 20; }

#second-section .text {
  padding-left: 30px;
  width: 35%;
  position: absolute;
  top: 20%;
  left: 50px;
  margin: 0;
  z-index: 2; }

.cloud-reg {
  width: 6%;
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 1; }

.cloud-sm {
  width: 4%;
  position: absolute;
  top: 8%;
  left: 25%;
  z-index: 0; }

#wdc-logo {
  width: 20%;
  position: absolute;
  bottom: 20%;
  right: 70px;
  z-index: 0; }

#third-section .text {
  padding-right: 30px;
  text-align: right;
  width: 35%;
  position: absolute;
  bottom: 20%;
  right: 40px;
  margin: 0;
  z-index: 2; }

#madc-logo {
  width: 15%;
  position: absolute;
  top: 20%;
  left: 80px;
  z-index: 0; }

.boat {
  width: 7%;
  position: absolute;
  bottom: 30px;
  right: 30%; }

#fourth-section .text {
  padding-left: 30px;
  width: 35%;
  position: absolute;
  bottom: 15%;
  left: 50px; }

#icpc-logo {
  width: 20%;
  position: absolute;
  top: 20%;
  right: 70px; }

.sun {
  width: 250px;
  position: absolute;
  top: 80px;
  left: 30px; }

.sun-reg {
  width: 106px;
  position: absolute;
  top: 12%;
  left: 20%;
  z-index: 1;
  -webkit-animation: sun 5s linear 2s infinite alternate;
  /* Safari 4.0 - 8.0 */
  animation: sun 5s linear 2s infinite alternate; }

.big-semnas {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 200px;
  max-width: 855px;
  margin: 0 auto; }

.three {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2; }

.three img {
  width: 50%;
  position: absolute;
  left: 50px;
  top: 60px; }

.four {
  grid-column: 1/5; }

/*styling balon*/
.balon {
  position: absolute;
  margin-top: 50;
  margin-left: 100px;
  width: 75px;
  height: 106px;
  -webkit-animation: myfirst 5s linear 2s infinite alternate;
  /* Safari 4.0 - 8.0 */
  animation: myfirst 5s linear 2s infinite alternate; }

#sixth-section img {
  width: 100px; }

.rotation {
  -webkit-animation: rotation 10s infinite linear;
  animation: rotation 10s infinite linear; }

.go-to-right {
  -webkit-animation: goToRight 15s infinite linear;
  animation: goToRight 15s infinite linear;
  animation-delay: 2s; }

.move-infinite {
  -webkit-animation: left-right 4.5s infinite ease-in-out;
  animation: left-right 4.5s infinite ease-in-out; }

.move-ri-inf {
  -webkit-animation: move-right 4.5s infinite ease-in-out;
  animation: move-right 4.5s infinite ease-in-out; }

@-webkit-keyframes move-right {
  0% {
    right: 30%; }
  50% {
    right: 40%; }
  100% {
    right: 30%; } }
@keyframes move-right {
  0% {
    right: 30%; }
  50% {
    right: 40%; }
  100% {
    right: 30%; } }
@-webkit-keyframes left-right {
  0% {
    left: 30%; }
  50% {
    left: 25%; }
  100% {
    left: 30%; } }
@keyframes left-right {
  0% {
    left: 30%; }
  50% {
    left: 25%; }
  100% {
    left: 30%; } }
.move-sm-infinite {
  -webkit-animation: right-left 4.5s infinite ease-in-out;
  animation: right-left 4.5s infinite ease-in-out; }

@-webkit-keyframes right-left {
  0% {
    left: 20%; }
  50% {
    left: 25%; }
  100% {
    left: 20%; } }
@keyframes right-left {
  0% {
    left: 20%; }
  50% {
    left: 25%; }
  100% {
    left: 20%; } }
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes goToRight {
  from {
    left: -5%; }
  to {
    left: 100%; } }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes sun {
  0% {
    left: 50px; }
  25% {
    left: 150px; }
  50% {
    left: 200px; }
  75% {
    left: 250px; }
  100% {
    left: 300px; } }
/* Standard syntax */
@keyframes sun {
  0% {
    left: 50px; }
  25% {
    left: 150px; }
  50% {
    left: 200px; }
  75% {
    left: 250px; }
  100% {
    left: 300px; } }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
  0% {
    top: 100px; }
  25% {
    top: 150px; }
  50% {
    top: 250px; }
  75% {
    top: 350px; }
  100% {
    top: 400px; } }
/* Standard syntax */
@keyframes myfirst {
  0% {
    top: 100px; }
  25% {
    top: 150px; }
  50% {
    top: 250px; }
  75% {
    top: 350px; }
  100% {
    top: 400px; } }
@media screen and (max-width: 1024px) {
  .somewhat-bigger {
    font-size: 3.5em; }

  .mo-plane {
    left: -10%; }

  #hero-section .content > img {
    width: 18%;
    padding-top: 10px; }

  #second-section .text {
    width: 40%;
    left: 2%;
    top: 15%;
    padding-left: 15px; }

  #third-section .text {
    width: 40%;
    right: 5%;
    bottom: 10%; }

  .boat {
    width: 8%;
    bottom: 12%; }

  @-webkit-keyframes move-right {
    0% {
      left: 30%; }
    50% {
      left: 40%; }
    100% {
      left: 30%; } }
  @keyframes move-right {
    0% {
      left: 30%; }
    50% {
      left: 40%; }
    100% {
      left: 30%; } }
  #icpc-logo {
    width: 20%;
    position: absolute;
    top: 10%;
    right: 50px; }

  #fourth-section .text {
    bottom: 10%;
    width: 40%; } }
@media screen and (max-width: 990px) {
  .big-semnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 590px;
    margin: 0 auto; }

  .big-semnas h1 {
    font-size: 4.8em;
    text-align: center !important;
    padding-left: 40px; }

  .three {
    position: relative;
    grid-column: 2/4; }

  .three img {
    width: 200px;
    position: absolute;
    left: 15%;
    top: 20%; }

  .four {
    grid-column: 1/5; }

  /*styling balon*/
  .balon {
    position: absolute;
    margin-top: 50;
    margin-left: 35px;
    width: 55px;
    height: 76px; } }
@media screen and (max-width: 768px) {
  .baby-big {
    font-size: 1em; }

  .bigger {
    font-size: 2em; }

  .somewhat-bigger {
    font-size: 3.2em; }

  #hero-section .content .fle figure {
    width: 120px; }

  #hero-section .content > img {
    width: 30%; }

  #second-section .text {
    width: 50%;
    left: 2%;
    top: 15%;
    padding-left: 15px; }

  #wdc-logo {
    width: 23%;
    bottom: 13%;
    right: 5%; }

  .cloud-reg {
    width: 10%; }

  .cloud-sm {
    width: 6%; }

  @-webkit-keyframes left-right {
    0% {
      left: 85%; }
    50% {
      left: 75%; }
    100% {
      left: 85%; } }
  @keyframes left-right {
    0% {
      left: 85%; }
    50% {
      left: 75%; }
    100% {
      left: 85%; } }
  @-webkit-keyframes right-left {
    0% {
      left: 65%; }
    50% {
      left: 73%; }
    100% {
      left: 65%; } }
  @keyframes right-left {
    0% {
      left: 65%; }
    50% {
      left: 73%; }
    100% {
      left: 65%; } }
  /*
  ========third section========
  */
  #third-section .text {
    width: 50%;
    right: 5%;
    bottom: 10%; }

  #madc-logo {
    left: 5%;
    top: 15%;
    width: 17%; }

  .boat {
    width: 8%;
    bottom: 15%; }

  @-webkit-keyframes move-right {
    0% {
      left: 5%; }
    50% {
      left: 20%; }
    100% {
      left: 5%; } }
  @keyframes move-right {
    0% {
      left: 5%; }
    50% {
      left: 20%; }
    100% {
      left: 5%; } }
  #fourth-section h1 {
    font-size: 2.8em; }

  #icpc-logo {
    width: 150px;
    position: absolute;
    transform: translateX(-50%);
    top: 10%;
    left: 50%; }

  .big-semnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 485px;
    margin: 0 auto; }

  .big-semnas h1 {
    font-size: 4em;
    text-align: center !important;
    padding-left: 20px; }

  .three {
    position: relative;
    grid-column: 2/4; }

  .three img {
    width: 180px;
    position: absolute;
    left: 10%;
    top: 16%; }

  .four {
    grid-column: 1/5; }

  /*styling balon*/
  .balon {
    position: absolute;
    margin-top: 50;
    margin-left: 35px;
    width: 55px;
    height: 76px; } }
@media screen and (max-width: 480px) {
  .hidden-480 {
    display: none; }

  .baby-big {
    font-size: 0.8em; }

  .bigger {
    font-size: 1.5em; }

  .somewhat-bigger {
    font-size: 2em; }

  #hero-section .content .fle figure {
    width: 80px; }

  #hero-section .content {
    padding: 0 30px; }
    #hero-section .content > img {
      width: 40%; }
    #hero-section .content p {
      text-align: center; }

  .mo-plane {
    left: -15%; }

  .go-to-right {
    -webkit-animation: goToRight 8s infinite linear;
    animation: goToRight 8s infinite linear;
    animation-delay: 0s; }

  @-webkit-keyframes goToRight {
    from {
      left: -15%; }
    to {
      left: 100%; } }
  #second-section .content, #third-section .content, #fourth-section .content, #fifth-section .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    #second-section .content .text, #second-section .content .four, #third-section .content .text, #third-section .content .four, #fourth-section .content .text, #fourth-section .content .four, #fifth-section .content .text, #fifth-section .content .four {
      order: 3;
      font-size: 0.8em;
      padding: 0 35px;
      position: initial;
      text-align: center;
      width: 100%; }
    #second-section .content h1, #third-section .content h1, #fourth-section .content h1, #fifth-section .content h1 {
      order: 2;
      padding: 0 35px; }
    #second-section .content img, #second-section .content .three, #third-section .content img, #third-section .content .three, #fourth-section .content img, #fourth-section .content .three, #fifth-section .content img, #fifth-section .content .three {
      order: 1;
      position: initial; }

  #wdc-logo {
    width: 40%;
    bottom: 13%;
    right: 5%; }

  .cloud-reg {
    width: 15%; }

  .cloud-sm {
    width: 8%; }

  @-webkit-keyframes left-right {
    0% {
      left: 85%; }
    50% {
      left: 75%; }
    100% {
      left: 85%; } }
  @keyframes left-right {
    0% {
      left: 85%; }
    50% {
      left: 75%; }
    100% {
      left: 85%; } }
  @-webkit-keyframes right-left {
    0% {
      left: 65%; }
    50% {
      left: 73%; }
    100% {
      left: 65%; } }
  @keyframes right-left {
    0% {
      left: 65%; }
    50% {
      left: 73%; }
    100% {
      left: 65%; } }
  /*
  ========third section========
  */
  #madc-logo {
    position: initial;
    width: 30%; }

  .boat {
    width: 10%;
    bottom: 11%; }

  @-webkit-keyframes move-right {
    0% {
      right: 10%; }
    50% {
      right: 30%; }
    100% {
      right: 10%; } }
  @keyframes move-right {
    0% {
      right: 10%; }
    50% {
      right: 30%; }
    100% {
      right: 10%; } }
  #fourth-section h1, #fifth-section h1 {
    font-size: 2em; }

  #icpc-logo {
    width: 150px;
    position: initial;
    transform: none; }

  #fifth-section .three {
    margin: 10px 0 20px; }

  .balon {
    position: absolute;
    margin-top: 50;
    margin-left: 10px;
    width: 40px;
    height: 56px; }

  #sixth-section .content .fle-center {
    flex-direction: column; }
  #sixth-section .content .mg-l-40 {
    margin: 20px 0 0 0; } }

/*# sourceMappingURL=vocom-soon-style.css.map */
